:root{
    --verde:#1CB698;

}


.contenedor__imagen{
   
    height: 300px;
    text-align: end;
    z-index: 20;
    
}
body{
    position: relative;
    top: 250px;
    background-color: #252A2E;
    height: 100px;
    
}

.contenedor{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
   

}
img{
    height: 300px;
  
    margin-right: 20px;
    border: 5px solid #000;
    border-radius: 50%;
}



.contenedor__texto{
    min-width: 270px;
    color: #fff;
    margin: auto 0px auto -70px;
    
    z-index: 10;
   
}

.contenedor__texto__borde{
    background-color: aquamarine;
    
    padding-left: 40px;
    border: 3px solid #000;
    border-radius: 20px;
    background-color: #000;
    min-width: 200px;
    max-width: 310px;
}
span{
    background-color: #1CB698;
    padding: 2px;
    border-radius: 10px;
}

@media (max-width:645px ){
    .contenedor{
        display: block;
       
    }
    .contenedor__imagen{
   
   
        text-align: center;
        
    }
    .contenedor__texto__borde{
        
        text-align: center;
        margin: auto;
        padding: 0;
        
      
       
    }
    .contenedor__texto{
        
        margin: auto;
       
    }
   





    body{
        top: 80px;
       
    }


    img{
        height: 270px;
        margin: 0;
    }
}

.trancision{
    color: #000;
    background-color: #000;
    transition: 2s;
}
.trancision{
    color: #fff;
    background-color:#4F6D66;
    
    transform-origin: left;
    transition-duration: 7s;

}

