

h1, a {
    font-family: 'Protest Riot', sans-serif;
}
.contenedor{
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(56, 56, 56, 0.8));
    
}
h1{
 font-size: 40px;
 text-align: center;
 color: #fff;

 margin: 20px 0;
}

.e-trabajo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto 80px;
}


.target{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    align-content: space-evenly;
    margin: 20px auto;
    background: linear-gradient(rgba(28,182,152,.8), rgba(105, 125, 118, 0.8));
}

h2{
    color: #fff;
    text-align: center;
}
h2:active{
    color: rgb(240, 240, 176);
}

span{
    color: aquamarine;
}

.img{
    
    min-height: 150px;
    min-width: 300px;
    
    max-width: 400px;
    border-radius: 10px;
    
    border: 3px solid #000;
    margin: 20px auto;
    box-shadow: 0 10px 10px #000;
   
}



.boton{
    
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #1CB698; 
    color: #fff; 
    text-decoration: none; 
    cursor: pointer;
    margin-right: 10px; 

}
@media (max-width:600px ){
    .boton{
        border: none;
        display: block;
        margin-bottom: 10px;
        height: 30px;
        font-size: 25px;
    }
    .icono{
        margin-bottom: 40px 0;
    }


    .e-trabajo{
     
        margin: auto 20px;
    }


    .img{
    
        max-height: 250px;
        max-width: 200px;
    }

}
.boton:hover {
    background-color: #114d41; 
}

.boton:active{
    background-color:#000 ;
    color: #fff;
    
}

.contenedor-boton{ text-align: center;
}
.icono{
    display: inline-block;
    margin: 5px 20px;

}
.icono:hover{
    background-color: #fff;
    border-radius: 10px;
    translate: 5px 10px;
    transition: 0.5s;
}

.icono:active{
    background-color: #000;
    border: 2px solid #fff;
  

}
.contenedor-iconos{
    text-align: center;
}


.img:hover{
    transform: rotate(5deg);
    transition: 1s;
}